<div class="alert__container container shadow-lg p-3 mb-5 bg-body rounded">
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-6">
          <h2 class="alert__title">{{data.message}}</h2>
          <h2 class="alert__info">{{data.info}}</h2>
        </div>
      </div>
    </div>


    <div class="col-6 btn__alert">
      <a href="{{data.link}}" class="btn btn-success batton-go-back">Повернутися назад</a>
    </div>
  </div>
</div>