.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.purchase-list__title {
    margin: 20px;
    
        
}

table {
   
    width: 80%;
    background-color: #fff;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Медіа-запит для адаптивного дизайну */
@media (max-width: 768px) {
    table {
        width: 100%;
    }

    th, td {
        padding: 8px;
    }
}
