<main class='main'>
  <div class='main__header'>
    <div class='main__header__title'>
       <h1 >Моя бібліотека</h1>
    </div>
   <div class="main__header__img">
    <a href='/spotify-search'>
      <img
        src='/svg/search.svg'
        alt=''
        class='main__content__header__image'
      />
    </a>
    <a href='/spotify-choose'>
      <img
        src='/svg/plus.svg'
        alt=''
        class='main__content__header__image'
      />
    </a>
   </div>
    
  </div>
  <div class='main__content'>

    <div class="main__content__card">
    {{!-- <div class='content__card card--1'>
      <img src='https://picsum.photos/100/100' alt='' />
    </div>
    <h2 class="main__content__card__title">{{name}}</h2>
    <p class="main__content__card__number">{{amount}} пісень</p>
    </div> --}}

    <div class='content__card card--1'>
      <img src='/svg/heart.svg' alt='' />
    </div>
    <h2 class="main__content__card__title">Пісні, що сподобались</h2>
    <p class="main__content__card__number">50 пісень</p>
    </div>

       <div class="main__content__card">
       <div class='content__card card--2'>
      <img src='/svg/ellips-orange.svg' alt='' class="orange"/>
      <img src='/svg/ellips-yellow.svg' alt='' class="yellow" />
      <div class="mash">Мішанина</div>
      <div class="rectangle"></div>
    </div>
    <h2 class="main__content__card__title">Спільний альбом</h2>
    <p class="main__content__card__number">20 пісень</p>
    </div>

       <div class="main__content__card">
    <div class='content__card card--3'>
      <img src='/img/monatik.jpg' alt='' />
    </div>
    <h2 class="main__content__card__title">Інь Ян</h2>
    <p class="main__content__card__number">10 пісень</p>
    </div>

   <div class="main__content__card">
    <div class='content__card card--4'>
      <img src='/svg/nota.svg' alt='' />
    </div>
    <h2 class="main__content__card__title">Мій плейліст №1</h2>
    <p class="main__content__card__number">36 рісень</p>
    </div> 
  </div>
</main>