
<section class="form">
    <form action="/product-create" method="POST">
        
        
        <h1 class="form__head">Product creation</h1>
           
            <div class="form__content shadow-lg p-3 mb-5 bg-body rounded">
             <h2 class="form__title">Product information</h2>
            <div class="row">

                <div class="mb-6 form__field">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter product name">
                </div>
                <div class="mb-6 form__field">
                    <label for="price" class="form-label">Price</label>
                    <input type="text" class="form-control" id="price" name="price" placeholder="Enter product price">
                </div>

            </div>

            <div class="row">
                <div class="mb-12 form__field">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" name="description"
                        placeholder="Enter product description">
                </div>
            </div>

           
                <div class="mb-12" style="margin: 10px;">
                    <button type="submit" class="btn btn-primary">Create product</button>
                </div>
            
        </div>
    </form>
</section>